@import '../../assets/styles/media-mixin';

.ctrl {
  display: grid;
  grid-template-columns: 1fr;

  @include media(L) {
    grid-template-columns: 1fr 1fr;
  }

  &>div {
    display: flex;
    justify-content: center;
    align-self: center;

    @include media(L) {
      justify-content: flex-end;
    }
  }

  &>div button {
    background: $black;
    border-radius: 4px;
    border: none;
    padding: 10px 20px;
    margin: 0 10px;
    color: $white;
    text-transform: uppercase;
    box-shadow: $shadow1;
    cursor: pointer;
    transition: .3s ease-in-out;

    &:hover {
      opacity: .8;
      box-shadow: $shadow2;
    }
  }
}

.list {
  display: flex;
  flex-direction: column;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid silver;
  padding: 15px 0;

  @include media(L) {
    flex-direction: row;
  }
}

.userInfo {
  display: flex;
  flex-direction: column;

  span {
    display: inline-block;
    font-size: 13px;
    width: 100px;
  }
}

.links a {
  margin-left: 15px;
}