.back {
  display: block;
  //margin-top: 30px;
  padding: 20px;
}

.post {
  border-bottom: 1px solid silver;
  padding: 20px 15px 10px;
}

.title {
  margin-bottom: 5px;
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
}

.text {
  font-size: 14px;
}